<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mohsenqaysi.tbmanagement">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- android:name=".FirebaseDataObjects.TBManagement" -->
    <application
        android:name=".Helper.TBManagement"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/MyMaterialTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Authatications.Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />

        <Fragment
            android:name=".Fragments.PatientFragment"
            android:theme="@style/MyMaterialTheme" />

        <activity
            android:name=".PatientsDetails.PatientDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Authatications.ResetPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TB_General_Info.GeneralInfoAboutTBList"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TB_General_Info.GeneralInfoAboutTB"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PatientsDetails.PatientDetailsRegistrationForm"
            android:screenOrientation="portrait" />
        <activity android:name=".Helper.TermsAndConditions"
            android:screenOrientation="portrait" />
        <activity android:name=".AdminActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>